@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.pt-150 {
  padding-top: 150px;
}
@media (max-width: 475px) {
  .pt-150 {
    padding-top: 40px;
  }
}

.font-blue {
  color: #1e8ab1;
}

.title {
  font-weight: 600;
  font-size: 40px;
}
@media (max-width: 475px) {
  .title {
    font-size: 32px;
  }
}

.container {
  max-width: 1520px;
  width: calc(100% - 30px);
  padding: 0 15px;
  margin: 0 auto;
}

.headerup-first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}
@media (max-width: 475px) {
  .headerup-first {
    flex-direction: column;
    gap: 2px;
    padding: 10px 0;
  }
}
.headerup-first-outside {
  background: #1e8ab1;
}
.headerup-first-info {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
@media (max-width: 475px) {
  .headerup-first-info {
    font-size: 12px;
    text-align: center;
  }
}
.headerup-first-mail {
  display: flex;
  align-items: center;
  gap: 10px;
}
.headerup-first-mailText {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 475px) {
  .headerup-first-mailText {
    font-size: 12px;
  }
}
.headerup-second {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.headerup-second-hamburgerMenu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 10;
}
@media (max-width: 475px) {
  .headerup-second-hamburgerMenu {
    display: block;
  }
}
.headerup-second-hamburgerMenu-line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: all 0.3s ease;
}
.headerup-second-hamburgerMenu.active .headerup-second-hamburgerMenu-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.headerup-second-hamburgerMenu.active .headerup-second-hamburgerMenu-line:nth-child(2) {
  opacity: 0;
}
.headerup-second-hamburgerMenu.active .headerup-second-hamburgerMenu-line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
.headerup-second-outside {
  background: #22ade0;
}
.headerup-second-logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (max-width: 475px) {
  .headerup-second-logo {
    padding: 5px 0;
  }
}
.headerup-second-logoImg img {
  width: 70px;
  height: 70px;
}
@media (max-width: 475px) {
  .headerup-second-logoImg img {
    width: 35px;
    height: 35px;
  }
}
.headerup-second-title {
  color: #fff;
  font-size: 26px;
}
@media (max-width: 475px) {
  .headerup-second-title {
    font-size: 16px;
  }
}
.headerup-second-navbar {
  display: flex;
  align-items: center;
}
@media (max-width: 475px) {
  .headerup-second-navbar {
    flex-direction: column;
    position: fixed;
    z-index: 5;
    right: -100px;
    top: 20px;
  }
}
.headerup-second-navbar-active {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  background-color: #22ade0;
  width: 100%;
  height: 100vh;
  padding-top: 35vh;
}
.headerup-second-navbar a {
  padding: 30px 14px;
  font-size: 18px;
  color: #fff;
}
@media (max-width: 475px) {
  .headerup-second-navbar a {
    font-size: 12px;
    padding: 20px 14px;
  }
}
.headerup-second-navbar a:hover {
  background-color: #1e8ab1;
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.carousel-item {
  min-width: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-item img {
  display: block;
  height: 100%;
  width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  bottom: 0px;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}
@media (max-width: 475px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
}

.carousel-control-prev {
  left: 48%;
}

.carousel-control-next {
  right: 48%;
}

.contact-short {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  background: #22ade0;
}
@media (max-width: 475px) {
  .contact-short {
    flex-direction: column;
    gap: 7px;
    padding: 15px 0;
  }
}
.contact-short p {
  font-size: 20px;
  color: #fff;
}
@media (max-width: 475px) {
  .contact-short p {
    font-size: 15px;
  }
}
.contact-short-link {
  font-weight: 600;
  font-size: 18px;
  background: #fff;
  color: #22ade0;
  padding: 5px 20px;
  border-radius: 10px;
}
@media (max-width: 475px) {
  .contact-short-link {
    font-size: 14px;
    padding: 3px 14px;
    border-radius: 5px;
  }
}
.contact-short-outer {
  position: fixed;
  width: 100%;
  height: 100vh;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.2);
  z-index: 4;
}
@media (max-width: 475px) {
  .contact-short-outer {
    width: 100%;
  }
}
.contact-short-out {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.contact-short-out-inner {
  background: lightblue;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 400px;
  padding: 30px 50px;
  background: #1e8ab1;
}
@media (max-width: 475px) {
  .contact-short-out-inner {
    flex-direction: column;
    padding: 15px 25px;
    width: 300px;
  }
}
.contact-short-out-tels {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-short-out-tel {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
}
.contact-short-out-tel a {
  font-size: 16px;
  color: #fff;
}
.contact-short-out-info {
  font-size: 16px;
  color: #fff;
  width: 250px;
  margin-bottom: 15px;
}
@media (max-width: 475px) {
  .contact-short-out-info {
    width: 100%;
  }
}
.contact-short-out-socials {
  display: flex;
  flex-direction: column;
  gap: 15px;
  display: flex;
  gap: 20px;
}
@media (max-width: 475px) {
  .contact-short-out-socials {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
  }
}
.contact-short-out-social {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 475px) {
  .contact-short-out-social {
    gap: 4px;
  }
}
.contact-short-out-social p {
  font-size: 16px;
  color: #fff;
}
@media (max-width: 475px) {
  .contact-short-out-social p {
    font-size: 12px;
  }
}

.path-items {
  margin-top: 50px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
@media (max-width: 475px) {
  .path-items {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 20px;
  }
}
.path-item {
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: end;
  padding: 20px 30px;
  height: 220px;
  border: 1px solid #222;
  border-radius: 20px;
}
.path-item-title {
  color: #fff;
  font-size: 28px;
  font-weight: 600;
}
.path-item:nth-child(1) {
  background-image: url(./img/Flux_Dev_A_modern_pharmaceutical_facility_under_construction_d_1.jpg);
}
.path-item:nth-child(2) {
  background-image: url(./img/Flux_Dev_A_logistics_truck_arrives_at_a_modern_pharmaceutical__3.jpg);
}
.path-item:nth-child(3) {
  background-image: url(./img/Flux_Dev_Inside_a_sterile_welllit_cleanroom_technicians_in_ful_2.jpg);
}
.path-item:nth-child(4) {
  background-image: url(./img/Clip\ path\ group.jpg);
}

.pathFixed {
  position: fixed;
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 700px;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
}
@media (max-width: 475px) {
  .pathFixed {
    width: 80%;
  }
}
.pathFixed-up {
  background-image: url(./img/Clip-path-group-2.svg);
  height: 160px;
  background-position: center;
  background-size: cover;
  padding: 30px 50px 20px;
  display: flex;
  align-items: end;
  border-radius: 20px 20px 0 0;
}
@media (max-width: 475px) {
  .pathFixed-up {
    padding: 20px 20px;
    height: 140px;
  }
}
.pathFixed-text {
  padding: 30px 50px;
  font-size: 16px;
  text-align: justify;
}
@media (max-width: 475px) {
  .pathFixed-text {
    padding: 15px 20px;
    font-size: 14px;
  }
}
.pathFixed-title {
  color: #fff;
  font-size: 36px;
}
@media (max-width: 475px) {
  .pathFixed-title {
    font-size: 24px;
  }
}
.pathFixed-out {
  position: fixed;
  width: 100%;
  height: 100vh;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.2);
  z-index: 15;
}

.homeAbout-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 475px) {
  .homeAbout-inner {
    flex-direction: column;
    gap: 40px;
  }
}
.homeAbout-subtitle {
  margin-top: 25px;
  font-size: 24px;
  font-weight: 600;
}
@media (max-width: 475px) {
  .homeAbout-subtitle {
    font-size: 20px;
    margin-top: 20px;
  }
}
.homeAbout-text {
  line-height: 28px;
  font-weight: 400;
  margin-top: 15px;
  text-align: justify;
  width: 700px;
}
@media (max-width: 475px) {
  .homeAbout-text {
    width: 100%;
    margin-top: 10px;
  }
}
.homeAbout-link {
  font-size: 18px !important;
  font-weight: 500 !important;
  letter-spacing: 2px;
  display: block;
  width: -moz-min-content;
  width: min-content;
}
@media (max-width: 475px) {
  .homeAbout-link {
    font-size: 14px !important;
    letter-spacing: 1px;
  }
}
.homeAbout-right {
  width: 750px;
  height: 500px;
  background-image: url(./img/2009.jpg);
}
@media (max-width: 475px) {
  .homeAbout-right {
    width: calc(100% + 30px);
  }
}

.contact-middle {
  padding-top: 160px;
}
@media (max-width: 475px) {
  .contact-middle {
    padding-top: 140px;
  }
}
.contact-middle-inner {
  background-image: url(./img/Rectangle.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 475px) {
  .contact-middle-inner {
    height: 450px;
  }
}
.contact-middle-title {
  font-size: 48px;
  color: #fff;
  text-align: center;
}
@media (max-width: 475px) {
  .contact-middle-title {
    font-size: 36px;
  }
}
.contact-middle-text {
  text-align: center;
  margin-top: 15px;
  color: #fff;
  font-size: 28px;
}
@media (max-width: 475px) {
  .contact-middle-text {
    font-size: 22px;
  }
}
.contact-middle-links {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}
.contact-middle-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 200px;
  height: 200px;
  background-color: rgba(173, 173, 173, 0.5882352941);
}
@media (max-width: 475px) {
  .contact-middle-link {
    width: 140px;
    height: 140px;
  }
}
.contact-middle-icon {
  transform: scale(2.8);
  color: #fff;
}
@media (max-width: 475px) {
  .contact-middle-icon {
    transform: scale(2);
  }
}

.news-items {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
@media (max-width: 475px) {
  .news-items {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-top: 20px !important;
  }
}
.news-item {
  display: flex;
  gap: 20px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #222;
  position: relative;
}
@media (max-width: 475px) {
  .news-item {
    flex-direction: row-reverse;
    padding-bottom: 6px;
    gap: 10px;
    justify-content: space-between;
  }
}
.news-item-img {
  width: 200px;
  height: 170px;
  background-size: cover;
  background-position: center;
}
@media (max-width: 475px) {
  .news-item-img {
    max-width: 140px;
    max-height: 90px;
  }
}
.news-item-title {
  margin-top: 8px;
  font-size: 18px;
  font-weight: bold;
}
@media (max-width: 475px) {
  .news-item-title {
    margin-top: 0px;
    font-size: 15px;
  }
}
.news-item-subtitle {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 475px) {
  .news-item-subtitle {
    display: none;
  }
}
.news-item-date {
  position: absolute;
  bottom: 18px;
}

.map-location {
  padding-top: 160px;
}
@media (max-width: 475px) {
  .map-location {
    padding-top: 40px;
  }
}

.footer {
  background-image: url(./img/Flux_Dev_A_modern_sleek_and_welllit_industrial_facility_with_s_3\ 1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.footer-infos {
  position: absolute;
  bottom: 26px;
  left: 50%;
  transform: translate(-50%, -50%); /* Markazlash */
  display: flex;
}
.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
.footer-info-img {
  position: absolute;
  top: -200px;
  width: 70px;
  height: 70px;
}
@media (max-width: 475px) {
  .footer-info-img {
    top: -180px;
    width: 50px;
    height: 50px;
  }
}
.footer-info-tels {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer-info-tel {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 475px) {
  .footer-info-tel {
    font-size: 12px;
  }
}
@media (max-width: 475px) {
  .footer-info-location {
    font-size: 14px;
    width: 100%;
  }
}
.footer-container {
  max-width: 1120px;
  width: 90%;
  padding: 40px 15px 120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 475px) {
  .footer-container {
    padding-top: 30px;
  }
}
.footer-line {
  height: 10px;
  background: #22ade0;
}
.footer-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.footer-link a {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}
@media (max-width: 475px) {
  .footer-link a {
    font-size: 14px;
  }
}
.footer-social {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 3px;
}
@media (max-width: 475px) {
  .footer-social {
    gap: 5px;
  }
}
.footer-social-inner {
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer-social-inner p {
  color: #fff;
  font-weight: 600;
}
@media (max-width: 475px) {
  .footer-social-inner p {
    font-size: 13px;
  }
}
.footer-social-inner i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
}
@media (max-width: 475px) {
  .footer-social-inner i {
    transform: scale(0.7);
    height: 20px;
    width: 20px;
  }
}
.footer-company {
  background: rgba(0, 0, 0, 0.5568627451);
  padding: 7px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.aboutUs-out {
  background-color: #fff;
}
.aboutUs-bottom {
  padding: 0px 50px 30px;
  display: flex;
  gap: 30px;
  background-color: #fff;
}
.aboutUs-body {
  background-color: rgb(218, 218, 218);
}
.aboutUs-title {
  color: #1e8ab1;
  padding: 30px 0;
  text-align: center;
}
.aboutUs-title-small {
  margin: 20px 0;
  color: #1e8ab1;
  font-size: 22px;
}
.aboutUs-info-li {
  display: flex;
  gap: 10px;
  align-items: center;
}
.aboutUs-info-dot {
  width: 8px;
  height: 8px;
  background: #222;
  display: block;
  border-radius: 50%;
}
.aboutUs-images {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(0, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 0px;
}
.aboutUs-images-inner {
  height: 220px;
  background-position: center;
  background-size: cover;
}
.aboutUs-images-inner:nth-child(1) {
  background-image: url(./img/Flux_Dev_A_logistics_truck_arrives_at_a_modern_pharmaceutical__3.jpg);
}
.aboutUs-images-inner:nth-child(2) {
  background-image: url(./img/Flux_Dev_A_logistics_truck_arrives_at_a_modern_pharmaceutical__3.jpg);
}
.aboutUs-images-inner:nth-child(3) {
  background-image: url(./img/Flux_Dev_A_logistics_truck_arrives_at_a_modern_pharmaceutical__3.jpg);
}

.contactUs-title {
  background: #a7a7a7;
  padding: 5px 10px;
}
.contactUs-input {
  margin-top: 10px;
}
.contactUs-input-name {
  font-size: 12px;
}
.contactUs-input-box {
  font-size: 14px;
  width: 200px;
  border: 1px solid #222;
  border-radius: 5px;
  padding: 7px 10px;
  margin-top: 3px;
}
.contactUs-submit {
  padding: 7px 12px;
  background-color: #22ade0;
  color: #fff;
  font-size: 14px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.contactUs-submit:hover {
  background-color: #1e8ab1;
}/*# sourceMappingURL=style.css.map */